// Color scheme -----------------------------------

@dbg: #28282F; // Dark background
@dhl: #38383F; // Dark highlight
@dt2: #68686F; // Dark bg text secondary
@dt1: #98989F; // Dark bg text primary

@lbg: #DFDCDE; // Light background
@lhl: #CFCCCE; // Light highlight
@lt2: #7F7C7E; // Light bg text secondary
@lt1: #4F4C4E; // Light bg text primary

@red: #A43D56; // Red
@ora: #BB651B; // Orange
@yel: #BB8B11; // Yellow
@gre: #3BA67A; // Green

@cya: #2F95A5; // Cyan
@blu: #2F7CB1; // Blue
@vio: #5E6FB5; // Violet
@mag: #A5657A; // Magenta

// Visual order -----------------------------------

@primary1: @red;
@primary2: @vio;
@primary3: @blu;

@secondary1: @cya;
@secondary2: @mag;

@tertiary1: @yel;
@tertiary2: @gre;
@tertiary3: @ora;

// Theme variant ----------------------------------

@text1: @lt1; // text primary
@text2: @lt2; // text secondary
@syntax-bg: @lbg; // background
@syntax-guide: @lhl; // background highlight

// Atom Base vars ---------------------------------

@syntax-fg: @text1; // text primary
@syntax-accent: @tertiary1; // cursor, markdown preview links, etc.
@syntax-selection: @syntax-guide;
@syntax-selection-gutter: @syntax-guide;
@syntax-cursor-line: fade(@syntax-selection, 26%); // needs to be semi-transparent to show serach results
