// Blau Syntax Theme

// Color scheme -----------------------------------

@dbg: #18181F; // Dark background
@dhl: #28282F; // Dark highlight
@dt2: #48484F; // Dark bg text secondary
@dt1: #78787F; // Dark bg text primary

@lbg: #E8E8EF; // Light background
@lhl: #D8D8DF; // Light highlight
@lt2: #68686F; // Light bg text secondary
@lt1: #38383F; // Light bg text primary

@red: #9A1E4C; // Red
@ora: #BB651B; // Orange
@yel: #BB8B11; // Yellow
@gre: #3FA575; // Green

@cya: #0FA5B5; // Cyan
@blu: #1F6CA1; // Blue
@vio: #515AB5; // Violet
@mag: #814571; // Magenta

// Variables -----------------------------------

@text-1: @lt1; // text primary
@text-2: @lt2; // text secondary

@color-1: @blu; // color primary
@color-2: @red; // color secondary
@color-3: @vio; // color tertiary

@support-1: @mag; // support primary
@support-2: @cya; // support secondary

@accent-1: @yel; // accent primary
@accent-2: @gre; // accent secondary
@accent-3: @ora; // accent tertiary

// Base vars -----------------------------------

@syntax-fg: @text-1; // text primary
@syntax-accent: @accent-1; // accent primary
@syntax-bg: @lbg; // background
@syntax-guide: @lhl; // background highlight
@syntax-selection: @syntax-guide;
@syntax-selection-gutter: @syntax-guide;
@syntax-cursor-line: fade(@syntax-selection, 26%); // needs to be semi-transparent to show serach results
